
@import url('https://fonts.googleapis.com/css2?family=Antic+Slab&family=Roboto:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Antic+Slab&family=Poiret+One&display=swap');
html{
    animation: fadeInAnimation ease .5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}
body{
    margin: 0;
    padding:0;
    background-image: url("../images/Background/dood.jpg");
    background-position: center;
    background-size: cover;
    /* background-color: whitesmoke; */
   
}   

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
     }
}

.wrapper{
    padding:20px;
    margin: 0 auto;
    width: 1000px;
    background-color: whitesmoke;

}
.container{
    /* background-color: rgb(6, 160, 83); */
    background-color: whitesmoke;
    margin:10px;
    /* border-left: 1px solid rgb(51, 50, 50); */
}
.nav{
    position: relative;
    /* background-color: pink; */
}
.nav ul li{
    
    display: inline-block;
    font-size: 20px;
    margin-left: 20px;
}
.nav ul li a{
    float: left;
    font-weight: 600;
    font-family: 'Antic Slab', serif;
    font-family: 'Poiret One', cursive;
    font-size: 20px;
    margin:.5px;
    padding:10px;
    color: rgb(14, 12, 12);
    text-decoration: none;
    transition: background-color .3s linear;
}
.nav ul li a:hover{
    border-radius: 3px;
    color:rgb(255, 255, 255);
    cursor: pointer; 
    background-color:  rgb(22, 120, 211);
    /* border-bottom: 1px solid rgb(51, 50, 50);  */
    /* animation-name: fadein;
    animation-duration: 1s; */
}


span{
    float: right;
    margin-top: -6em;
}
#logo{
    width: 7em;
    margin-right: 2em;
}
.author{
    /* background-color: cadetblue; */
    margin-top: -1em;
    margin: 0 auto;
    padding: 25px;
    position: relative;
    display: flex;
    /* border-bottom:2px solid rgb(43, 43, 43); */
    width:1000px;
    
}

.image{
    margin-top: 5em;
    position: relative;
    /* display: inline-block; */
    /* width: 500px;
    background-color: aquamarine; */
}
.image img{
    padding: 20px;
    width: 15em;
    /* background-color: cornflowerblue; */
}
.aboutAuth{
    color:rgb(24, 23, 23);
    font-family: 'Antic Slab', serif;
    /* margin-top: 1em; */
    font-size: 20px;
    padding: 10px;
    
    width: 600px;
    /* background-color: aquamarine; */
}
p{
    font-weight: 200;
    text-align: justify;
    text-indent: 50px;
    background-color: rgb(221, 244, 255);
    padding:20px;
    width: 30em;


}
.email{
    
    float:right;
    color:white;
    margin-top: 2em;
    padding:15px;
    width: 10em;
    border-radius: 5px;
    outline: none;
    border-style: none;
    background-color:  rgb(11, 121, 224);
    transition: background-color .3s linear;
}
h1{
    color: rgb(71, 70, 70);
}
.email:hover{
    cursor: pointer;
    box-shadow:1px 5px 12px 4px rgba(0,0,0,0.5)
}
h5{
    text-align: center;
    font-size: 15px;
}
.aboutAuth a{
    color:rgb(7, 100, 240);
    text-decoration: none;
}
.aboutAuth a:hover{
    text-decoration: underline;
}
 


